<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lista de Chaves</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row mb-3 mt-2">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="login" class="nav-link active" aria-current="page">Login</a></li>
                    <li class="nav-item"><a href="chaves" class="nav-link">Chaves</a></li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Registros
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="registroChave">Nova chave</a></li>
                        </ul>
                    </div>
                </ul>
            </header>
        </div>
        <div class="row" id="divChaves">

            <div class="col-3" id="">
                <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                    <div class="card-header py-3 text-white bg-success border-secondary">
                        <h4 class="my-0 fw-normal">CHAVE 88</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Disponível</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>SALA: </li>
                            <li>HORARIO: </li>
                            <li>USUÁRIO: </li>
                            <li>CPF: </li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary" id="botao">Emprestar chave</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var divChaves = $('#divChaves');
        $.ajax({
            url: '/api/chaves',
            type: 'get',
            beforeSend: () => {
                console.log('carregando...');
            }
        }).done(function (data) {
            console.log(data);
            var html = '';
            var i = 0;
            for (let chave of data) {
               i++
                html += `
                <div class="col-3" id="">
                    <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                        <div class="card-header py-3 text-white bg-success border-secondary">
                            <h4 class="my-0 fw-normal">`+chave.nome+`</h4>
                        </div>
                        <div class="card-body">
                        <h1 class="card-title pricing-card-title">Disponível</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>`+chave.sala+`</li>
                            <li>HORARIO: </li>
                            <li>USUÁRIO: </li>
                            <li>CPF: </li>
                        </ul>
                            <button type="button" id="botao`+i+`" class="w-100 btn btn-lg btn-primary">Emprestar chave</button>
                        </div>
                    </div>
                </div>`
            }
            divChaves.html(html) 
        })
    </script>
</body>

</html>